*~
#*#
*#
*.pcm
*.so
*.d
*.png
*.pdf
*.nfs*
replay_pid*
hs_err_pid*
batch_scripts/augerID.tmp
batch_scripts/sjdkay_Job.txt
batch_scripts/*_Job.txt
*_Job.txt
*.tmp
batch/tmp*
sjdkay_Job.txt
*_Job.txt
AugerID.tmp
tmp
batch_scripts/tmp